<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%d %level %logger %mdc] - %m%n</pattern>
        </encoder>
    </appender>

    <logger name="tjenestekall" level="TRACE" />

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>